---

---


<div class="flex justify-center mt-20">
    <img
      class="animate-pulse"
      src="images/cuy.jpg"
      alt=""
      width="300"
  height="300"
    />
</div>

<div>
<h1
    class="text-1xl md:text-2xl lg:text-3xl font-bold flex justify-center"
  >
    <b class="text-yellow-300 "> &lt;&gt;  
      Transformando Ideas en Código
    &lt;/&gt; </b>
  </h1>
</div>