
<section class="px-2 my-2">

    <hr>

    <img
    class=" rounded-full size-40 float-center lg:float-end my-10 border border-1 border-white animate-wiggle animate-infinite"
    src="images/perfil.jpg"
    alt=""
  />

  <h2 class="text-white text-xl mt-20">
    “Hola, soy Walter, un apasionado desarrollador web con conocimientos en 
    <span
    class="text-yellow-300 font-semibold" >frontend, backend 
    </span>
    y 
    <span

    class="text-yellow-300 font-semibold" >bases de datos.”</span>

  </h2>

   </section>

